<% provide(:title, "Help") %>
<div class="center">
  <h1>Help</h1>
  <h3>FAQ</h3>
</div>
<div class="container">
  <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">Can I scan from multiple computers at a time?</div>
      <div class="panel-body">Yes, Rails uses threads for HTTP handling,
      meaning more than one machine can use
      a webpage at a time, even scanning for the same event at the same time.</div>
    </div>
  </div>
</div>
<div class="center">
<h4>
  Have a question that isn't on this list?
  <br>
  <small>
    Email your suggestion using the link in the footer!</small>
  </h4>
</div>
