<div class="center">
  <h1>Welcome</h1>
  <h2>Student Attendance Scanner</h2>
  <ul class="nav flex-column nav-justified">
    <li class="nav-link active">
      <%= link_to "View Students", students_path %>
    </li>
    <li class="nav-link active">
      <%= link_to "View Events",   events_path %>
    </li>
  </ul>
</div>
