<%= form_tag import_students_path, multipart: true do %>
  <%= file_field_tag :file %><br><%= submit_tag "Import CSV" %>
<% end %>
<section id='csv'>
  <h3>Example CSV File:</h3>
  <table class="table table-striped table-bordered table-hover table-condensed">
    <tr>
      <th>id</th>
      <th>first</th>
      <th>last</th>
      <th>year</th>
    </tr>
    <tr>
      <th>123456</th>
      <th>jane</th>
      <th>doe</th>
      <th>2021</th>
    </tr>
    <tr>
      <th>654321</th>
      <th>john</th>
      <th>smith</th>
      <th>2020</th>
    </tr>
  </table>
</section>
<small>(you must include the first row (id, first, last, year) as shown in the example, or the attributes will not be recognized!)</small>
