<%= form_with model: @student, local: true do |f| %>

<p>
  <%= f.label :first %><br>
  <%= f.text_field  :first %>
</p>

<p>
  <%= f.label :last %><br>
  <%= f.text_field  :last %>
</p>

<p>
  <%= f.label :year %><br>
  <%= f.text_field  :year %>
</p>

<p>
  <%= f.label :id %><br>
  <%= f.text_field  :id %>
</p>
<br>
<p>
  <%= f.submit %>
</p>
<% end %>
