<% provide(:title, "Students") %>
<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <h3>Listing All Students (<%= @students.count %>)</h3>
      <table id="table" class="table table-striped table-bordered table-hover table-condensed">
        <tr>
          <th>ID</th>
          <th>Last</th>
          <th>First</th>
          <th>Year</th>
          <th></th>
        </tr>
        <% @students.each do |student| %>
          <tr>
            <td><%= student.id %></td>
            <td><%= student.last %></td>
            <td><%= student.first %></td>
            <td><%= student.year %></td>
            <td><%= link_to 'Show', student_path(student) %></td>
            <td><%= link_to 'Edit', edit_student_path(student) %></td>
            <td><%= link_to 'Destroy', student_path(student),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </table>
    </div>
    <div class="col-sm-4">
      <h4><%= link_to 'New student', new_student_path %></h4>
      <%= render 'importform' %>
    </div>
  </div>
</div>
