<% provide(:title, "Students") %>
<p>
  <strong>Name: </strong>
  <%= @student.last %>, <%= @student.first %>
  <strong>Year: </strong>
  <%= @student.year %>
  <strong>ID: </strong>
  <%= @student.id %>

  <div>
    <% if @student.scans.any? %>
    <h3>Scans (<%= @student.scans.count %>)</h3>
    <ol class="scans">
      <%= render @scans %>
    </ol>
    <% end %>
  </div>

  <%= link_to 'Back', students_path %>
</p>
