<%= form_for @scan do |f| %>
  <div class="field">
    <%= f.hidden_field :notes, :value => "" %>
  </div>
  <div class="field">
    <%= f.hidden_field :event_id, :value => @event.id %>
  </div>
  <div class="field">
    <%= f.collection_select :student_id, Student.order(:last),:id, :full_name, include_blank: true %>
  </div>
  <br>
  <%= f.submit "Create Scan", class: "btn btn-primary" %>
<% end %>
