<%= form_for @scan do |f| %>
  <div class="field">
    <%= f.hidden_field :notes, :value => "" %>
  </div>
  <div class="field">
    <%= f.hidden_field :event_id, :value => @event.id %>
  </div>
  <div class="field">
    <%= f.text_field :student_id, :autofocus => true, placeholder: "Scan field" %>
  </div>
  <br>
  <%= f.submit "Scan", class: "btn btn-primary" %>
<% end %>
