<li id="scan-<%= scan.id %>">
  <span class="student"><%= scan.student.last %>, <%= scan.student.first %>
    scanned in for
  </span>
  <span class="event">
    <%= scan.event.title %>
  </span>
  <span class="timestamp">
    <%= time_ago_in_words(scan.created_at) %> ago.
  </span>
  <span>
    <%= link_to 'Add or Edit Note', edit_scan_path(scan) %>
  </span>
  <span>
    Notes: <%= scan.notes %>
  </span>
</li>
