<%= form_with model: @event, local: true do |f| %>

<p>
  <%= f.label :title %><br>
  <%= f.text_field  :title %>
</p>

<p>
  <%= f.label :time %><br>
  <%= f.datetime_select :start %>
</p>
<br>
<p>
  <%= f.submit %>
</p>
<% end %>
