<% provide(:title, "events") %>
<div class="container">
  <h3>Listing All Events</h3>
  <h4><%= link_to 'New event', new_event_path %></h4>
  <table id="table" class="table table-striped table-bordered table-hover table-condensed">
    <tr>
      <th>Title</th>
      <th>Start time</th>
    </tr>

    <% @events.each do |event| %>
      <tr>
        <td><%= event.title %></td>
        <td><%= event.start %></td>
        <td><%= link_to 'Show', event_path(event) %></td>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Destroy', event_path(event),
          method: :delete,
          data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </table>
</div>
