<% provide(:title, "events") %>
<div class="container">
  <div class="col-sm-8">
    <p><h3>
      <strong>Title: </strong>
      <%= @event.title %>
      <br>
      <strong>Start time: </strong>
      <%= @event.start %>
      <br></h3>


      <% if @event.scans.any? %>
      <h4>Scans (<%= @event.scans.count %>)</h4>
      <ol class="scans">
        <%= render @scans %>
      </ol>
      <% end %>
      <%= link_to 'Back', events_path %>
    </p>
  </div>
  <div class="col-sm-4">
    <p>
      <div class="row">
        <section id="scan_form">
          <h3>Scan Field</h3>
          <%= render 'shared/scanform' %>
          <br>
          <%= link_to "Export Scans to CSV", event_path(format: :csv)%>
          <br>
          <h3>OR</h3>
          <br>
          <h4>Add Student by Name: </h4>
          <%= render 'shared/scanbyname' %>
        </section>
      </div>
    </p>
  </div>
</div>
