@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins */

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */

body {
  padding-top: 100px;
}

.center {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* typography */

h1, h2, h3, h4 {
  margin-top: 10px;
  margin-bottom: 20px;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

#csv {
  width: 250px;
}

/* tables & forms */

.table {
  width: 600px;
}

#scan_form {
  margin-top: 20px;
  text-align: center;
}

/* header */

#logo {
  float: left;
  margin-right: 25px;
  font-size: 1.5em;
  text-transform: uppercase;
  padding-top: 8px;
  font-weight: bold;
  &:hover {
    text-decoration: none;
  }
}

/* footer */

footer{
  margin-top: 40px;
  padding-top: 3px;
  border-top: 1px solid;
  small {
    float: left;
  }

  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}
