<footer class="footer">
  <small>
    Attendance Scanner
    by <a href="mailto:lofton@protonmail.ch">Johnny Lofton</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Help",    help_path %></li>
    </ul>
  </nav>
</footer>
