<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Attendance Scanner", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "View Students", students_path %></li>
        <li><%= link_to "View Events",   events_path %></li>
      </ul>
    </nav>
  </div>
</header>
